# Ignore Terraform directories and state files
.terraform/       
*.tfstate       
*.tfstate.*
*.terraform.*    

# Ignore crash logs
crash.log       

# Ignore sensitive variable files
*.tfvars       
*.tfvars.json 

# Ignore override files
override.tf
override.tf.json

# Ignore Terraform CLI config
.terraformrc    
terraform.rc    

# Ignore MacOS system files
.DS_Store       

# Ignore key files
*.pem